target/
*.pyc
.idea
.classpath
.settings/
/anki-usecase-enfrequency/resources/mywiktionary.xml
/anki-vocabulary-assistant/save/
/anki-vocabulary-assistant/scripts/AnkiModel/User 1/backups/
/anki-vocabulary-assistant/scripts/AnkiTest/
/anki-vocabulary-assistant/run.sh
/venv/
